@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 40%;
    margin: auto;
}

.search-box {
    position: relative;
}

.search-box > form > i {
    position: absolute;
    font-size: 17px;
    color: #009ae7c0;
    font-weight: 600;
    bottom: 0;
    top: 0;
    transform: translate(50%, 26%); 
}

.search-box > form > #search {
    width: 100%;
    background: #2436426e;
    padding: 9px 35px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 600;
    font-size: 14px;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-box > form > #search:focus {
    border: 1px solid #009ae7c0;
    transition: .5s linear;
}

.button {
    width: 150px;
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    background: linear-gradient(to right, #16222a, #3a6073);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 600;
}

.button:active {
    transform: scale(1.1);
    transition: all .4s linear;
}

.submit {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.result-output {
    margin-top: 2rem;
}

body > div > div.result-output > div > h1 {
    font-family: 'Tiro Telugu', serif;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.849);
}

div.result-meaning > p:nth-child(1) {
    color: #009ae7c0;
    font-size: 17px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 7px;
}

div.result-meaning > p:nth-child(2) {
    color: rgba(92, 92, 92, 0.575);
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 13px;
}

div.result-meaning > p:nth-child(3) {
    color: rgba(255, 255, 255, 0.849);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 13px;
}

div.result-meaning > p:nth-child(4) {
    color: #009ae7c0;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 13px;
}

div > div:nth-child(3) > p {
    color: rgba(180, 180, 180, 0.747);
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    border-left: 3px solid #009ae7c0;
    /* border-radius: 10px; */
    padding: 7px;
    margin-bottom: 13px;
}